@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Space Grotesk Medium";
    src: url("SpaceGrotesk-VariableFont_wght.ttf");
}

body{
    font-family: "Space Grotesk Medium"
}

.image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.playVsPlayerImage{
    background-image: url("./assets/images/player-vs-player.svg")
}

.homeLogo{
    background-image: url("./assets/images/logo.svg")
}

.backboard{
    background-image: url("./assets/images/board-layer-black-large.svg");
    background-position: top;
}

.frontboard{
    background-image: url("./assets/images/board-layer-white-large.svg");
    background-position: top;


}

.logo{
    background-image: url("./assets/images/logo.svg");
}

.leftPlayerImage{
    background-image: url("./assets/images/player-one.svg");
}

.rightPlayerImage{
    background-image: url("./assets/images/player-two.svg");
}

.redTurnBackground{
    background-image: url("./assets/images/turn-background-red.svg");
}

.yellowTurnBackground{
    background-image: url("./assets/images/turn-background-yellow.svg");
}

.redPicker{
    background-image: url("./assets/images/marker-red.svg");
}
.yellowPicker{
    background-image: url("./assets/images/marker-yellow.svg");
}

.pieces{
    div{
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.red{
    background-image: url("./assets/images/counter-red-large.svg");
}

.yellow{
    background-image: url("./assets/images/counter-yellow-large.svg");

}

.col-1{
    margin-left: 1.9vh;
    margin-right: .5vh;
}

.col-2{
    margin-left: 1.7vh;
    margin-right: .6vh;
}

.col-3{
    margin-left: 1.5vh;
    margin-right: .8vh;
}

.col-4{
    margin-left: 1.2vh;
    margin-right: 1.1vh;
}

.col-5{
    margin-left: 1vh;
    margin-right: 1.2vh;
}

.col-6{
    margin-left: .8vh;
    margin-right: 1.5vh;
}

.col-7{
    margin-left: .6vh;
    margin-right: 1.7vh;
}

.row-1{
    margin-top: 1.5vh;
}

.row-2{
    margin-top: 1.5vh;
}

.row-3{
    margin-top: 1.3vh;
}

.row-4{
    margin-top: 1.1vh;
}

.row-5{
    margin-top: 1vh;
}
.row-6{
    margin-top: .8vh;
}

.winningPiece{
    width: 3.78vh;
    height: 3.78vh;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 1.67vh;
}

.winningBox{
    background-color: white;
    border-radius: 2vh;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 31.67vh;
    height: 17.77vh;
    /*shadow-[0_3px_0_5px_rgba(0,0,0)]*/
    margin: auto;
    margin-top: 2.5vh;
    box-shadow: 0px 10px 0px 0px black;

}

@keyframes bottomUp{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.bottomUpAnimation{
    animation: bottomUp 1s ease-in-out;
}
