@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Space Grotesk Medium";
    src: url("SpaceGrotesk-VariableFont_wght.ttf");
}

body{
    font-family: "Space Grotesk Medium"
}